# SMTP Configuration
EMAIL_USER=lancebrower@gmail.com
EMAIL_PASSWORD=irdpzipmoaaduvjx
ADMIN_EMAIL=lancebrower@gmail.com

# Admin Configuration
ADMIN_SECRET_CODE=lance

# Database Configuration
DB_PATH=./crm.db

# Server Configuration
PORT=3001 

# JWT Secret
JWT_SECRET=zp2mb30yA18SG9cEidq